.HAREESHA{
    color: red;
    font-size: 30px;
    background: #ccc;
}
.AAKANKSHA{
    color: red;
    font-size: 40px;
    background: #ccc;
}
.DIVYA{
    color: red;
    font-size: 60px;
    background: #ccc;
}
.nothing{
    color: red;
    font-size: 20px;
    background: #ccc;
}
