body{
    color:red;
    background-image: url(./aa.png);
    
    background-repeat: no-repeat;
}
.h1{
    font-size: 70px;
    margin: 0;
}
.body{
    width: 1000px;
    margin-left: 35%; 
    margin-top: 190px;
}
img{
    width: 200px;
}