
.header-link{
    display: inline-block;
    color: wheat;
    cursor: pointer;
}
.header-text{
    padding: 13px;
}
.header-text:hover{
    background: wheat;
    color: black;
}
.selected{
    background: green;
}
.selected:hover{
    background: green; 
}