.container{
    width: 100px;
    height: 30px;
    position: relative;
    display: block;
}
.container input{
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    margin-right: 10px;
}
.radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
    margin-left: 10px;
    
}
.container .input-radio:hover~.radio{
    background-color: cadetblue;
}
.container .input-radio:checked~.radio{
    background-color: rgb(241, 238, 6);
}
.radio:before{
    content: "";
    display: none;
    position: absolute;
}
.container .input-radio:checked~.radio:before{
    display: block;
}
.radio:before{
    border:5px solid white;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}
