.container{
    position: relative;
    width: 100px;
    height: 20px;
    display: block;

}
.container input{
    opacity: 0;
    height: 0;
    width: 0;
    margin-right: 20px;
}
.input-box{
    width: 20px;
    height: 20px;
    background-color: aqua;
    position: absolute;
    left: 0;
    top:0;
}
.container:hover input~.input-box{
    background-color: cadetblue;
}
.container input:checked ~.input-box{
    background-color: blueviolet;
}
.input-box:after{
    content: "";
    display: none;
    position: absolute;
}
input:checked ~.input-box::after{
    display: block;
}
.input-box:after{
    width: 6px;left: 5px;
    top: 5px;
    height: 3px;
    border: solid white;
    position: absolute;
    border-width: 0 0 3px 3px;
    transform: rotate(-45deg);
}