.mail-header{
    width: 300px;
    display: inline-block;
    line-height: 0;
}
 .container{
/*    margin-top: 30px;
    margin-left: calc( 50% - 90px); */
    width: 80%;
    margin: 0 auto;

}
.first{
    background: skyblue;
}
.second{
    background: orange;
}