body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing:border-box; 
}
.menu{
    padding-top: 50px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
.image{
    width: 50px;
}
.input-bar{
    display: block;
    width: 100%;
    padding: 8px;
}
.btn{
    width: 100px;
    float: left;
    padding: 8px;
    margin: 5px 0;
    margin: 0;
}
.numbers{
    width: 100px;
    float: left;
    padding: 8px;
}
.buttons{
    float: left;
    width: 300px;
}
.equal{
    float: left;
    width: 100px;
    height: 140px;
}