body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing:border-box; 
}
.menu{
    padding-top: 50px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
.image{
    width: 50px;
}
.input-bar{
    display: block;
    width: 100%;
    padding: 8px;
}
/* 
.popup1 , .popup2{
    background: black;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
}
.background{
    opacity: .5;
}
.popup{
    display: none;
    opacity: 1;
}
.show-popup1 , .show-popup2{
    color: red;
    width: 300px;
    margin: 0 auto;
    height: 100px;
    text-align: center;
   
    background-color: white;;
    top: calc(50% - 50px);
    position: absolute;
    left: calc(50% - 150px);
    padding: 10px;
    font-size: 30px; 
}
*/
.cross{
    position: absolute;
    width: 35px;
    right: -5%;
    top: -17%;
}

 .btn{
    width: 100px;
    float: left;
    padding: 8px;
    margin: 5px 0;
    margin: 0;
}
.numbers{
    width: 100px;
    float: left;
    padding: 8px;
}
.buttons{
    float: left;
    width: 300px;
}
.equal{
    float: left;
    width: 100px;
    height: 140px;
}









.background{
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
    display: block;
}
.popup{
    position: relative;
    display: none;
}
.popup-content{
    width: 300px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    background: white;
    color: red;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 150px);
}