

*{
    box-sizing: border-box;
}
body{
    padding-bottom: 100px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* image with headding */
  .image{
    width:700px;
    position: relative;
  }
  .abs{
      position: absolute;
      top: 50%;
      background: white;
      font-size: 70px;
      mix-blend-mode: screen;
  }
  /* jumping from one place to another place */
  .content-holder{
      width: 30%;
      display: inline-block;
      display: table-cell;
  }
  .a{
      background: green;
  }
  .b{
      background: red;
  }
  .c{
      background: orange;
  }
  .jumping-content{
      height: 1000px;
      
  }
.jumping-content:nth-child(odd){
      background: orange;
}
.jumping-content:nth-child(even){
      background: #f3f3f3;
}
a{
    font-size: 20px;
}
/* accordian */
li{
    list-style-type: none;
}
ul{
    padding: 0;
    margin: 0;
    width: 700px;
    margin: 0 auto;
    border: 1px solid;
}
.list-elements{
    display: block;
    border-bottom: 0;
    background: #f1f1f1;
    position: relative;
    cursor: pointer;
}
.list-elements:hover{
    background: #c1c1c1;
}
.sub-list{
    display: none;
    padding: 10px;
    border-bottom: 0;
    background: white; 
}
.sub-list:hover{
    background: #f1f1f1;
}
.list-elements-content{
    width: 670px;
    padding: 10px;
    display: inline-block;
}
.display{
    width: 30px;
    padding: 10px;
    font-size: 21px;
    line-height: .5;
    z-index: 2;
    position: absolute;
    right: 10px;
    display: inline-block;
    background: red;
    top: 4px;
    text-align: center;


}
/* tabs horizotally */
.link{
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.links-holder{

    background: #3498db;
}
.links,.links-vertical{
    width: 700px;
    margin: 0 auto;
    margin-top:50px; 
    border: 1px solid;
}
.link-content-holder{
    padding: 10px;
}
.active{
    background: white;
}


/* tabs vertically */
.links-vertical{
    overflow: auto;
}
.vertical{
    width: 200px;
}
.vertical-content,.vertical{
    /* display: inline-block; */
    float: left;
}
.vertical-content{
    width: 480px;
    padding: 10px;
}
.verticat-link{
    padding: 10px;
    background: #f1f1f1;
}
.verticat-link:hover{
    background: #c1c1c1;
}
.active-vertical{
    background: white;
}


.text-field{
    padding: 10px;
}


/* navigation bar animation */
.lines,.display-lines,.resizing-lines{
    width: 40px;
    border: 3px solid;
    height: 5px;
    line-height: 2;
    margin: 5px;
}
.lines-holder,.display-lines-holder,.resizing-lines-holder{
    cursor: pointer;
    display: inline-block;
}
.nav-content ,.display-nav-content{
    width: 300px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: brown;
    font-size: 20px;

}
.nav-content:hover,.display-nav-content:hover{
    background: #c1c1c1;
}
.nav-content-holder{
    background: #f1f1f1;
    position: fixed;
    width: 0px;
    overflow: hidden;
    transition: all .5s;
    left: 0;
    top: 0px;
    bottom: 0;

}
.animated-slide{
    transition: all 0.5s;
    margin-left:0;
    overflow: hidden;
}
.holder{
    margin-top: 30px;
}
.closing-nav,.display-closing-nav{
    position: absolute;
    cursor: pointer;
    top: 6px;
    right: 6px;
    background: red;
    padding: 5px;
    border-radius: 50%;
    color: wheat;
}
.content-navbar{
    width: 1300;
    overflow: hidden;
}

/* display action  */
.display-nav-content-holder{
    display: none;
}
.display-nav-content-holder{
    position: relative;
    width: 300px;

    background: #f1f1f1;
}


/* Hoverable Sidenav Buttons */
.buttons{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0;
    text-align: center;
    margin-left: -170px;
    transition: all 0.5s;
}
.buttons:hover{
    margin: 5px 0;
}
.one{
    background: #3498db;
}
.two{
    background: #2cf811;
}
.three{
    background: #e00fc4;
}
.four{
    background: #e71616;
}

/* horizontal-links */
.horizontal-links{
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 100px;
    cursor: pointer;
}
.horizontal-links:hover{
    background: #c1c1c1;
}
.horizontal-scroll{
    width: 500px;
    overflow: auto;
    white-space: nowrap;
    background: #f1f1f1;
}
/* vertical-scroll */
.vertical-links{
    width: 200px;
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
}
.vertical-links:hover{
    background: #c1c1c1;
}
.vertical-scroll{
    width: 215px;
    height: 100px;
    overflow: auto;
}
.resizing-lines-holder{
    float: right;
}
.resizing{
    background: green;
    width: 65%;
}

.resizing-links{
    padding: 10px;
    display: inline-block;
    width: 100px;
    text-align: center;
}
.resizing-links:hover{
    background: #e71616;
}
@media screen and (max-width:700px){
    .resizing-links{
        display: block;
        width: 100%;
    }
}

.dropdown-list{
    padding: 10px;
    background: green;
    width: 200px;
    position: relative;
    text-align: center;
}
.dropdown-list:hover .dropdown{
    height: 300px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
}
.dropdown-links{
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background: #f1f1f1;
}
.dropdown{
    height: 0;
    overflow: auto;
}

.click-dropdown{
padding: 10px;
width: 200px;
background: green;
position: relative;
}
.click-dropdown-list{
position: absolute;
top: 100%;
}
.click-dropdown-links{
width: 200px;
padding: 10px;
}
.activate{
    display: none;
}