body{
    margin: 0;
    padding: 0;

}
*{
    box-sizing: border-box;
}
.text-bar{
    margin: 0 auto;
    margin-top: 70px;
    width: 500px;
}
.text{
    width: 80%;
    font-size: 25px;
    padding: 10px;
    float: left;
    padding-left: 30px;
}
.btn{
    width: 20%;
    font-size: 25px;
    padding: 10px;
    padding-left: 30px;
    text-align: center;
}
li{
    list-style-type: none;
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 25px;
}
li:nth-child(odd){
    background-color: aquamarine;
    color: cadetblue;
}
li:nth-child(even){
    background-color: cadetblue;
    color: aquamarine;
}
li:hover{
    background-color: burlywood;
    color: white;

}
.list-elements{
    padding: 0;
    margin-top: 0;
}
.cross{    
    width: 30px;
    height: 48px;
    position: absolute;
    right: 0px;
    top: 0px;

}
.check-box{
    width: 30px;
    position: absolute;
    z-index: 1;
}
.cross:hover{
    background-color: red;
}
.checked{
    text-decoration: line-through;

}
.checked:before{
    display: block;
}
.list::before{
    width: 30px;
    content: '';
    position: absolute;
    height: 30px;
    background: yellow;
    top: 10px;
    left: 0;
    border-radius: 50%;

}
.checkmark{    
    width: 20px;
    border-radius: 50%;
    left: 5px;
    border: solid red;
    background: red;
    position: absolute;
    height: 20px;
    top: 14px;
    display: none;
    
}
.check-box:checked~.checkmark{
    display: block;
}
.check-box:checked~.content{
    text-decoration: line-through;
}
.list{
    position: relative;
    display: block;
}