
.link1-info{
    display: none;
}
.link1:hover+.link1-info{
    display: block;
}


body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.links{
    width: 500px;
    margin: 0 auto;
}
.link1{
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    text-align: center;

}
.link1-info{
    padding: 5px;
    animation: link1-info 1s linear forwards;
    background-color: aqua;
    width: 100%;
    height: 100px;
}
.link1-info{
    animation: links-info .7s linear forwards;
}
@keyframes links-info{
    0%{
        height: 0px;
    }
    50%{
        height: 50px;

    }
    100%{
        height: 100px;
    }
}

