
.status-count{
    color: #42d620;
}
.task-status-completed{
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    color: #4f5459;
}
.status-count-number{
    font-size: 32px;
}
.counter-holder{
    font-size: 18px;
    line-height: 25px;
}
.completed-task-status{
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 4px;
    border-left: 3px solid #42d620;
}