
.delete-button{
    padding: 10px;
    border: 1px solid;
    background: red;
    color: white;
    width: 150px;
    text-align: center;
    position: relative;
    bottom: -11px;
    cursor: pointer;
    right: 0;
    display: inline-block;
    float: right;
}